{% extends "public_template.html" %}
{% block title %}  {% endblock %}
{% block main %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Home</h1>
                <hr>
            </div>
        </div>
        <div class="card-deck">

        
            
            <!-- LOOP OVER MUSIC DIR -->
            {% for filename in filenames %}
            <!-- LOOP OVER METADATA -->
                {% for song in metadata.music %}
                    {% if(song.id == filename[:-4]) %}
                        <!-- <li>
                            <form action="/play" method="POST" >
                                <button type="submit" class="btn btn-primary">{{song.title}}</button>
                                <input type="hidden" id="musicfilename" name="musicfilename" value={{filename}}>
                            </form>
                        </li> -->
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{song.artwork}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{song.title}}</h5>
                                <form action="/play" method="POST" >
                                
                                    <input type="hidden" id="musicfilename" name="musicfilename" value={{filename}}>
                                    <button type="submit" class="btn btn-primary">Play</button>
                                </form>
                              
                            </div>
                          </div>
                    {% endif %}
                {% endfor %}
            

            {% endfor %}
        </div>
        

    </div>

    {% endblock %}

    {% block script %}
    {% endblock %}